/*
 * Empty Stylesheet file.
 */

#leadboard {
    -fx-background-image: url("images/madeira.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.textarea .content{
    -fx-background-image: url("images/fundoleadboard.png");

}


.table-view {
    -fx-background-image: url("images/fundoleadboard.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.table-view, .table-row-cell, .column-header-background {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: #eaddbc;
    -fx-alignment: center;
    -fx-font-size: 16px;
    -fx-font-family: "Consolas Bold", Consolas, monospace;
}

.text-area{
    -fx-text-fill: #eaddbc;
    -fx-border-width: 3px;
    -fx-background-color: #355334;

}



.text-area > .scroll-pane{
    -fx-vbar-policy: never;
    -fx-padding: 0;
}