/*
 * Empty Stylesheet file.
 */

#mainFxmlClass {
    -fx-background-image: url("images/background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}


#progressBar{
    -fx-accent: purple;
} 